.header{
  height: 100px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background: #fff;
}
.action-bar{
  height: 35px;
  margin-top: 1px;
  display: flex;
  gap: 2px;
  .action-item{
    background: #fff;
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    span{
      font-size: 14px;
    }
  }
}
.scrollX-box{
  width: 100%;
  .scrollX-header{
    height: 40px;
    line-height: 40px;
    display: flex;
    justify-content: space-between;
    padding: 0 10px;
    font-size: 16px;
    .scrollX-header-title{
      font-weight: bold;
    }
  }
  .scrollX-content{
    white-space: nowrap;
    view:first-child {
      margin-left: 10px;
    }
  }
}
